bcrypt==3.1.6
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
coverage==4.5.3
doge==3.5.0
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
libxml2-python==2.9.9
MarkupSafe==1.1.1
numpy==1.16.2
peewee==3.9.4
pycparser==2.19
pygame==1.9.5
requests==2.21.0
Send2Trash==1.5.0
six==1.12.0
urllib3==1.24.2
virtualenv==16.4.3
Werkzeug==0.15.2
